:root {
  font-size: 62.5%;
  --color-font: white;
  --color-background-mode-dark: #212022;
  --color-background-cards: #ACA6AB;
  --color-background-card-mode-dark: #A8A8A8;
  --color-types-elements-cards-water: #6E93F0;
  --color-types-elements-cards-fire: #EB8836;
  --color-types-elements-cards-venom: #E97ADB;
  --color-types-elements-cards-gram: #86C469;
  --color-types-elements-cards-insect: #A6B91A;
  --color-types-elements-cards-normal: #525554;
  --color-types-elements-cards-air: #1A99A2;
  --color-types-elements-cards-pressuresair: ##8ED3D7;
  --color-webkit-scrollbar-track: #F1E9E9;
  --color-webkit-scrollbar-thumb: #582965;
  --color-webkit-scrollbar-border: #FFFFFF;
}

body {
  font-size: 1.4rem;
  font-family: 'Poppins';
  background-color: var(--color-background-mode-dark);
  color: var(--color-font);
}

#botao-alterar-tema {
  border: none;
  background: none;
}

#botao-alterar-tema:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(150%);
}

.cabecalho img:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: saturate(280%);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 4.0rem;
  gap: 1.2rem;
}

.cabecalho h1,
img {
  font-size: 2.6rem;
  height: 4.0rem;
}

.listagem-pokemon .cartao-pokemon {
  background-color: var(--color-background-cards);
  border: 2px solid #EEE5e6;
  padding: 1.2rem;
  border-radius: 1.4rem;
  width: 20.0rem;
  height: 30rem;
}

.listagem-pokemon {
  padding: 2.8rem 6.8rem;
  display: grid;
  grid-template-columns: repeat(7, 20rem);
  place-content: center;
  gap: 2.4rem;

}

.cartao-pokemon .informacoes-pokemons {
  display: flex;
  border-radius: 1.4rem;
  border: 2px solid #EEE5e6;
  padding: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tipos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: .2rem;
}

.grama {
  background-color: var(--color-types-elements-cards-gram);
  padding: .6rem;
  border-radius: .6rem;
}

.veneno {
  background-color: var(--color-types-elements-cards-venom);
  padding: .6rem;
  border-radius: .6rem;
}

.fogo {
  background-color: var(--color-types-elements-cards-fire);
  padding: .6rem;
  border-radius: .6rem;
}

.agua {
  background-color: var(--color-types-elements-cards-water);
  padding: .6rem;
  border-radius: .6rem;
}

.inseto {
  background-color: var(--color-types-elements-cards-insect);
  padding: .6rem;
  border-radius: .6rem;
}

.normal {
  background-color: var(--color-types-elements-cards-normal);
  padding: .6rem;
  border-radius: .6rem;
}

.voo {
  background-color: var(--color-types-elements-cards-air);
  padding: .6rem;
  border-radius: .6rem;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  height: 12.0rem;
  padding: 1rem 1rem;
}

main .descricao-pokemon {
  max-height: 8.0rem;
  overflow-y: scroll;
  padding: .4rem .2rem;
  font-size: 1.2rem;
}

.rodape {
  padding: 1.8rem 4.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-size: 1.8rem;
}

.rodape .photo-profile {
  border-radius: 50%;
  object-fit: cover;
  height: 4.0rem;
  width: 4.0rem;
}

.rodape a:nth-child(2):hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: saturate(280%);
}